
html, body {
    background-color: rgb(71, 212, 236);
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
}

game * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

platform {
    display: block;
    background-image: url(../images/platformMini.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 380px;
    height: 94px;

    position: absolute;
    top: 50%;
    left: 0%;
}

worm {
    display: block;
    background-image: url(../images/worm.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 64px;
    width: 64px;
}

player {
    display: block;
    background-image: url(../images/player.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 28px;
}

score *{
    color: white;
    background-color: black;
    z-index: 999;
    padding: 5px;
} 

